<mobi-header>
    <b2e-portalheader [use4ColumnsLayout]="true"></b2e-portalheader>
</mobi-header>
<mobi-four-columns-layout>
    <mobi-side-menu>
        <mobi-site-title [title]="'Menu'" [businessContext]="businessContext.NONE"></mobi-site-title>
        <mobi-menu-item mobiRouterLink="{{ '/home' }}">Home</mobi-menu-item>
    </mobi-side-menu>
    <mobi-content>
        <router-outlet></router-outlet>
    </mobi-content>
</mobi-four-columns-layout>
