<span>Dernière actualisation: {{ this.maxX | date }}</span>
<mobi-b2e-split-button-group [value]="selectedXRange" (valueChange)="handleXRangeChange($event)">
    <mobi-b2e-split-button [value]="XRange.ONE_YEAR">{{ XRange.ONE_YEAR }}</mobi-b2e-split-button>
    <mobi-b2e-split-button [value]="XRange.THREE_YEAR">{{ XRange.THREE_YEAR }}</mobi-b2e-split-button>
    <mobi-b2e-split-button [value]="XRange.FIVE_YEAR">{{ XRange.FIVE_YEAR }}</mobi-b2e-split-button>
    <mobi-b2e-split-button [value]="XRange.YEAR_TO_DATE">{{ XRange.YEAR_TO_DATE }}</mobi-b2e-split-button>
    <mobi-b2e-split-button [value]="XRange.ALL">{{ XRange.ALL }}</mobi-b2e-split-button>
</mobi-b2e-split-button-group>
<figure id="line"></figure>
<figure id="area"></figure>
