<mobi-content>
    <div class="mobi-columns-container">
        <div class="mobi-content-column-1 mobi-2-columns-width">
            <mobi-section [heading]="'Graph'" icon="lighthouse" [withLine]="false">
                <app-graph></app-graph>
            </mobi-section>
        </div>
    </div>
</mobi-content>
